[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule ".vim/pack/themes/start/dracula"]
	path = .vim/pack/themes/start/dracula
	url = git@github.com:dracula/vim.git
[submodule ".vim/pack/themes/start/strawberry"]
	path = .vim/pack/themes/start/strawberry
	url = https://github.com/haystackandroid/strawberry
